//
//  CBL_Dart.xcconfig
//  CBL_Dart
//
//  Created by Gabriel Terwesten on 07.02.21.
//

PRODUCT_BUNDLE_IDENTIFIER = com.terwesten.gabriel.dart.cbl
PRODUCT_NAME = CouchbaseLiteDart

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) CBL_FRAMEWORK_HEADERS
HEADER_SEARCH_PATHS = $(PROJECT_DIR)/../vendor/dart/include
EXPORTED_SYMBOLS_FILE = $(PROJECT_DIR)/src/exports/generated/CBL_Dart.exp
LD_RUNPATH_SEARCH_PATHS = $(inherited) @loader_path/../../.. @loader_path/.
