//
//  Project.xcconfig
//  CBL_Dart
//
//  Created by Gabriel Terwesten on 07.02.21.
//

IPHONEOS_DEPLOYMENT_TARGET                         = 10.0
MACOSX_DEPLOYMENT_TARGET                           = 10.14
TVOS_DEPLOYMENT_TARGET                             = 10.0
SUPPORTED_PLATFORMS                                = macosx iphoneos iphonesimulator appletvsimulator

ALWAYS_SEARCH_USER_PATHS                           = NO

VALID_ARCHS                                        = x86_64 arm64              i386
VALID_ARCHS[sdk=macosx*]                           = x86_64 arm64
VALID_ARCHS[sdk=iphonesimulator*]                  = x86_64 arm64              i386
VALID_ARCHS[sdk=appletvsimulator*]                 = x86_64 arm64              i386
VALID_ARCHS[sdk=iphoneos*]                         =        arm64 armv7 armv7s
VALID_ARCHS[sdk=appletvos*]                        =        arm64
