name: cbl_dart
version: 3.0.0-dev.4
description: >-
  Couchbase Lite for pure Dart apps: An embedded, NoSQL JSON Document Style
  database, supporting Blobs, Encryption, N1QL Queries, Live Queries, Full-Text
  Search and Data Sync.
homepage: https://github.com/cbl-dart/cbl-dart/tree/main/packages/cbl_dart
repository: https://github.com/cbl-dart/cbl-dart
issue_tracker: https://github.com/cbl-dart/cbl-dart/issues

environment:
  sdk: ^3.0.0

dependencies:
  archive: ^3.3.4
  cbl: ^3.0.0-dev.3
  cbl_libcblite_api: 3.1.3
  cbl_libcblitedart_api: 7.0.0
  crypto: ^3.0.1
  http: ^1.0.0
  logging: ^1.1.0
  path: ^1.8.0

dev_dependencies:
  test: ^1.21.1
  yaml: ^3.1.1
# For this package we check pubspec_overrides.yaml into git because
# we want to override Melos, so that we use the last published versions
# of the cbl_* packages. This is necessary because cbl_dart downloads
# binaries that might have a different API than the binaries currently in
# development.
