name: cbl_dart
version: 3.3.1
description: >-
  Couchbase Lite for pure Dart apps: An embedded, NoSQL JSON Document Style
  database, supporting Blobs, Encryption, SQL++ Queries, Live Queries, Full-Text
  Search and Data Sync.
homepage: https://github.com/cbl-dart/cbl-dart/tree/main/packages/cbl_dart
repository: https://github.com/cbl-dart/cbl-dart
issue_tracker: https://github.com/cbl-dart/cbl-dart/issues

environment:
  sdk: ^3.0.0

dependencies:
  cbl: ^3.4.2+0
  cbl_libcblite_api: 3.2.2
  cbl_libcblitedart_api: 8.1.1
  crypto: ^3.0.1
  logging: ^1.1.0
  path: ^1.8.0

dev_dependencies:
  test: ^1.21.1
  yaml: ^3.1.1
