name: cbl_flutter_example
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=2.17.0 <3.0.0'

dependencies:
  cbl: ^1.2.0
  cbl_flutter: ^1.0.0+3
  cbl_flutter_ce: ^1.1.1
  cupertino_icons: ^1.0.2
  flutter:
    sdk: flutter
  intl: ^0.17.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
