name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  flutter-version-stable: '2.5.0'
  flutter-version-beta: beta
  dart-version-stable: '2.14.0'
  dart-version-beta: beta
  melos-version: '1.0.0-dev.6'

jobs:
  formatting-dart:
    name: Formatting - Dart
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        dart: [stable, beta]
    continue-on-error: ${{ matrix.dart != 'stable' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ env[format('dart-version-{0}', matrix.dart)] }}

      - name: Setup Melos
        run: dart pub global activate melos ${{ env.melos-version }}

      - name: Check formatting
        run: melos run formatting:check

      - name: Show formatting changes
        if: failure()
        run: git diff

  formatting-clang:
    name: Formatting - Clang
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Check formatting
        uses: jidicula/clang-format-action@v3.1.0
        with:
          check-path: 'native/couchbase-lite-dart'

  analyze-dart:
    name: Analyze Dart code
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        dart: [stable, beta]
    continue-on-error: ${{ matrix.dart != 'stable' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Flutter
        uses: subosito/flutter-action@v1
        with:
          flutter-version: ${{ env.flutter-version-stable }}

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ env[format('dart-version-{0}', matrix.dart)] }}

      - name: Setup Melos
        run: dart pub global activate melos ${{ env.melos-version }}

      - name: Build cbl_flutter_prebuilt packages
        run: ./tools/ci-steps.sh buildCblFlutterPrebuiltPackages

      - name: Bootstrap Dart packages
        run: melos bootstrap

      - name: Analyze code
        run: melos run analyze

  test-dart-unit:
    name: Dart unit tests
    strategy:
      matrix:
        package: [cbl]
        dart: [stable, beta]
        embedder: [standalone]
        os: [Ubuntu]
    env:
      EMBEDDER: ${{ matrix.embedder }}
      TARGET_OS: ${{ matrix.os }}
      TEST_PACKAGE: ${{ matrix.package }}
    continue-on-error: ${{ matrix.dart != 'stable' }}
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Flutter
        uses: subosito/flutter-action@v1
        with:
          flutter-version: ${{ env.flutter-version-stable }}

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ env[format('dart-version-{0}', matrix.dart)] }}

      - name: Setup Melos
        run: dart pub global activate melos ${{ env.melos-version }}

      - name: Build cbl_flutter_prebuilt packages
        run: ./tools/ci-steps.sh buildCblFlutterPrebuiltPackages

      - name: Bootstrap Dart packages
        run: melos bootstrap

      - name: Run tests
        run: melos run test:${{ matrix.package }}

      - name: Upload coverage data
        if: ${{ matrix.dart == 'stable' }}
        run: |
          ./tools/ci-steps.sh uploadCoverageData "unit,${{ matrix.package }}"

  test-e2e:
    name: E2E tests
    timeout-minutes: 45
    strategy:
      fail-fast: false
      matrix:
        embedder: [standalone, flutter]
        os: [iOS, macOS, Android, Ubuntu]
        exclude:
          - embedder: standalone
            os: iOS
          - embedder: standalone
            os: Android
            # TODO: Enable Flutter/Linux tests
            # Flutter for linux is breaking tests (exposes symbols from statically linked std c++ lib)
          - embedder: flutter
            os: Ubuntu
    runs-on: >-
      ${{ fromJSON('{ 
        "iOS":"macos-11",
        "macOS":"macos-11",
        "Android":"macos-11",
        "Ubuntu":"ubuntu-20.04"
      }')[matrix.os] }}
    env:
      EMBEDDER: ${{ matrix.embedder }}
      TARGET_OS: ${{ matrix.os }}
      TEST_PACKAGE: >-
        ${{ fromJSON('{ 
          "standalone":"cbl_e2e_tests_standalone_dart",
          "flutter":"cbl_e2e_tests_flutter"
        }')[matrix.embedder] }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup CMake and Ninja
        uses: lukka/get-cmake@latest

      # bash >=4 is needed by scripts
      - name: Install bash
        if: runner.os == 'macOS'
        run: brew install bash

      - name: Build native libraries
        run: ./tools/ci-steps.sh buildNativeLibraries

      - name: Install Fluter Linux Desktop dependencies
        if: matrix.os == 'Ubuntu' && matrix.embedder == 'flutter'
        run: |
          sudo apt-get update
          sudo apt-get install clang cmake ninja-build pkg-config libgtk-3-dev

      - name: Setup Flutter
        uses: subosito/flutter-action@v1
        with:
          flutter-version: ${{ env.flutter-version-stable }}

      - name: Configure flutter
        if: matrix.embedder == 'flutter'
        run: ./tools/ci-steps.sh configureFlutter

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1
        if: matrix.embedder == 'standalone'
        with:
          sdk: ${{ env.dart-version-stable }}

      - name: Setup Melos
        run: dart pub global activate melos ${{ env.melos-version }}

      - name: Build cbl_flutter_prebuilt packages
        run: ./tools/ci-steps.sh buildCblFlutterPrebuiltPackages

      - name: Bootstrap Dart packages
        run: ./tools/ci-steps.sh bootstrapPackages

      - name: Start test Couchbase cluster
        run: |
          case ${{ runner.os }} in
            macOS)
              melos run test:setupCouchbaseClusterMacOS
            ;;
            *)
              melos run test:setupCouchbaseClusterDocker
            ;;
          esac

      - name: Start virtual devices
        if: matrix.embedder == 'flutter'
        run: ./tools/ci-steps.sh startVirtualDevices

      - name: Run tests
        run: ./tools/ci-steps.sh runE2ETests

      - name: Collect test results
        if: failure()
        run: ./tools/ci-steps.sh collectTestResults

      - name: Upload test results
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: test-results-${{ matrix.os }}-${{ matrix.embedder }}
          path: test-results

      - name: Upload coverage data
        run: |
          ./tools/ci-steps.sh uploadCoverageData "e2e,${{ matrix.os }},${{ matrix.embedder }}"

  test-e2e-cbl_flutter_prebuilt:
    # Temporarily disabled until compatible version of `cbl` is published.
    if: ${{ false }}
    name: cbl_flutter_prebuilt E2E tests
    timeout-minutes: 45
    strategy:
      fail-fast: false
      matrix:
        embedder: [flutter]
        os: [iOS, macOS, Android, Ubuntu]
    runs-on: >-
      ${{ fromJSON('{ 
        "iOS":"macos-11",
        "macOS":"macos-11",
        "Android":"macos-11",
        "Ubuntu":"ubuntu-20.04"
      }')[matrix.os] }}
    env:
      EMBEDDER: ${{ matrix.embedder }}
      TARGET_OS: ${{ matrix.os }}
      TEST_PACKAGE: cbl_flutter_prebuilt_e2e_tests
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Fluter Linux Desktop dependencies
        if: matrix.os == 'Ubuntu'
        run: |
          sudo apt-get update
          sudo apt-get install clang cmake ninja-build pkg-config libgtk-3-dev

      - name: Setup Flutter
        uses: subosito/flutter-action@v1
        with:
          flutter-version: ${{ env.flutter-version-stable }}

      - name: Configure flutter
        run: ./tools/ci-steps.sh configureFlutter

      - name: Setup Melos
        run: dart pub global activate melos ${{ env.melos-version }}

      - name: Build cbl_flutter_prebuilt packages
        run: ./tools/ci-steps.sh buildCblFlutterPrebuiltPackages

      - name: Bootstrap Dart packages
        run: ./tools/ci-steps.sh bootstrapPackages

      - name: Start virtual devices
        run: ./tools/ci-steps.sh startVirtualDevices

      - name: Run tests
        run: ./tools/ci-steps.sh runE2ETests

      - name: Collect test results
        if: failure()
        run: ./tools/ci-steps.sh collectTestResults

      - name: Upload test results
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: test-results-cbl_flutter_prebuilt-${{ matrix.os }}
          path: test-results

      - name: Upload coverage data
        run: |
          ./tools/ci-steps.sh uploadCoverageData "prebuilt,${{ matrix.os }},${{ matrix.embedder }}"
