name: libcblitedart release

on:
  push:
    tags:
      - 'libcblitedart-v*'

jobs:
  create-release:
    runs-on: ubuntu-20.04
    outputs:
      upload-url: ${{ steps.create-release.outputs.upload_url }}
      tag: ${{ steps.set-outputs.outputs.tag }}
      release: ${{ steps.set-outputs.outputs.release }}
    steps:
      - name: Create Release
        id: create-release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: false
          prerelease: false
      - name: Set outputs
        id: set-outputs
        run: |
          echo "::set-output name=tag::${GITHUB_REF/refs\/tags\//}"
          echo "::set-output name=release::${GITHUB_REF/refs\/tags\/libcblitedart-v/}"

  linux:
    needs: create-release
    name: Linux
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - name: Get CMake and Ninja
        uses: lukka/get-cmake@latest

      - name: Download Couchbase Lite
        run: ./native/tools/download_prebuilt_binaries.sh linux-x86_64

      - name: Build release
        run: |
          ./native/couchbase-lite-dart/tools/build_release.sh \
            ${{ needs.create-release.outputs.release }} \
            linux-x86_64

      - name: Upload archives
        uses: alexellis/upload-assets@0.2.2
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          asset_paths: '["./native/couchbase-lite-dart/build/release/*"]'

  android:
    needs: create-release
    name: Android
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - name: Install Android Native Toolchain
        run: ./native/tools/android-sdk.sh installNativeToolchain

      - name: Download Couchbase Lite
        run: ./native/tools/download_prebuilt_binaries.sh android

      - name: Build release
        run: |
          ./native/couchbase-lite-dart/tools/build_release.sh \
            ${{ needs.create-release.outputs.release }} \
            android

      - name: Upload archives
        uses: alexellis/upload-assets@0.2.2
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          asset_paths: '["./native/couchbase-lite-dart/build/release/*"]'

  ios:
    needs: create-release
    name: iOS
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3

      - name: Download Couchbase Lite
        run: ./native/tools/download_prebuilt_binaries.sh ios

      - name: Build release
        run: |
          ./native/couchbase-lite-dart/tools/build_release.sh \
            ${{ needs.create-release.outputs.release }} \
            ios

      - name: Upload archives
        uses: alexellis/upload-assets@0.2.2
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          asset_paths: '["./native/couchbase-lite-dart/build/release/*"]'

  macos:
    needs: create-release
    name: macOS
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3

      - name: Get CMake and Ninja
        uses: lukka/get-cmake@latest

      - name: Download Couchbase Lite
        run: ./native/tools/download_prebuilt_binaries.sh macos

      - name: Build release
        run: |
          ./native/couchbase-lite-dart/tools/build_release.sh \
            ${{ needs.create-release.outputs.release }} \
            macos

      - name: Upload archives
        uses: alexellis/upload-assets@0.2.2
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          asset_paths: '["./native/couchbase-lite-dart/build/release/*"]'

  windows:
    needs: create-release
    name: Windows
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v3

      - name: Get CMake
        uses: lukka/get-cmake@latest

      - name: Download Couchbase Lite
        shell: bash
        run: ./native/tools/download_prebuilt_binaries.sh windows-x86_64

      - name: Build release
        shell: bash
        run: |
          ./native/couchbase-lite-dart/tools/build_release.sh \
            ${{ needs.create-release.outputs.release }} \
            windows-x86_64

      - name: Upload archives
        uses: alexellis/upload-assets@0.2.2
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          asset_paths: '["./native/couchbase-lite-dart/build/release/*"]'
